header {
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(204, 196, 196, 0.8);
}

.logo {
  height: 100px;
}

.nav-container {
  display: flex;
  justify-content: left;
  align-items: center;
  /* padding: 3px; */
  padding-left: 1%;
  flex-wrap: wrap;
  gap: 900px;
}

.nav-links a {
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 45px;
}